### ANY CHANGES TO THIS FILE DOES NOT REQUIRE A RESTART ###
#This will create this metric in all the tiers, under this path
#metricPrefix: Custom Metrics|JMXMonitor

#This will create it in specific Tier. Replace <TIER_NAME>
metricPrefix: "Server|Component:<TIER_NAME or ID>|Custom Metrics|JMXMonitor"


# List of JMX Servers
servers:
  -   displayName: ""
#     displayName is a required field. This will be your server name that will show up in metric path.

#     You can either use just a host and port to connect or use your full serviceURL to make the connection
#     Do not choose both, comment one out and only use the other.
      host: ""
      port: ""

#      serviceUrl: ""

      username: ""
      password: ""

#     You can either use the normal password or encrypt your password and provide the encrypted Password and encryptionKey.
#     Do not provide both, only provide one and comment out the other.
#      encryptedPassword: ""

# The encryptionKey is global and the same key is used for all the servers listed in the extension
#encryptionKey: ""

# number of concurrent tasks.
# Each server would require its own thread to process. Please provide adequate threads accordingly.
numberOfThreads: 5
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#                                      List of metrics
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#Glossary of terms(These terms are used as properties for each metric):
#   alias
#   aggregationType
#   timeRollUpType
#   clusterRollUpType
#   multiplier -->not for derived metrics
#   convert --> not for derived metrics
#   delta --> not for derived metrics
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


# The configuration of different metrics from various mbeans of jmx server
# The mbeans are already configured.This does not need to be changed unless
# someone needs to configure on their own.
mbeans:
  # This Mbean will extract out Broker metrics
  - objectName: "org.apache.activemq:type=Broker,brokerName=*"
    mbeanKeys: ["type", "brokerName"]
    metrics:
      include:
        - name: "StorePercentUsage"
          alias: "Store Percent Usage"

  # This Mbean will extract out Queue metrics
  # This example also shows how you can change the default properties of a metric.
  - objectName: "org.apache.activemq:type=Broker,brokerName=*,destinationType=Queue,destinationName=*"
    mbeanKeys: ["type", "brokerName","destinationType","destinationName"]
    metrics:
      include:
        - name: "AverageEnqueueTime"
          alias: "Average Enqueue Time"
          clusterRollUpType: "INDIVIDUAL"
          timeRollUpType: "AVERAGE"
          aggregationType: "AVERAGE"
        - name: "ConsumerCount"
          alias: "Consumer Count"
          clusterRollUpType: "COLLECTIVE"
          timeRollUpType: "SUM"
          aggregationType: "SUM"


  # Composite Metrics can be set in the following way
  - objectName: "java.lang:type=Memory"
    mbeanKeys: ["type"]
    metrics:
      include:
        - name: "HeapMemoryUsage.committed"
          alias: "Heap Memory Usage|Committed"
        - name: "HeapMemoryUsage.used"
          alias: "Heap Memory Usage|Used"

  - objectName: "org.apache.activemq.metrics:type=ClientRequest,scope=Read,name=Latency"
    mbeanKeys: ["type", "scope","name"]
    metrics:
      include:
        # Normal Metric
        - name: "Max"
          alias: "Max"
          aggregationType: "OBSERVATION"
          timeRollUpType: "AVERAGE"
          clusterRollUpType: "INDIVIDUAL"

        # Composite Metric
        - name: "HeapMemoryUsage.max"
          alias: "Heap Memory Usage|Max"
          multiplier: "10"
          delta: false

        # Map Metric Level 1
        - name: "MapOfString.key1"
          alias: "Map 1|Key 1"
        - name: "MapOfString.key2"
          alias: "Map 1|Key 2"
          aggregationType: "OBSERVATION"
          timeRollUpType: "AVERAGE"
          clusterRollUpType: "INDIVIDUAL"

        # Map Metric Level 2
        - name: "MapOfString.map2.key2"
          alias: "Map 1|Map 2|Key 2"

        # Map Metric Level 3
        - name: "MapOfString.map2.map3.key32"
          alias: "Map 1|Map 2|Map 3|Key 32"
          multiplier: "20"
          delta: false
          aggregationType: "OBSERVATION"
          timeRollUpType: "AVERAGE"
          clusterRollUpType: "INDIVIDUAL"
          convert : {
            "ENDANGERED" : "1",
            "NODE-SAFE" : "2",
            "MACHINE-SAFE" : "3"
          }

        # List Metrics
        - name: "listOfString.metric one"
          alias: "List Of String|metric one"
        - name: "listOfString.metric two"
          alias: "List Of String|metric two"
        - name: "listOfString.metric three"
          alias: "List Of String|metric three"



metricPathReplacements:
   - replace: "%"
     replaceWith: ""
   - replace: ","
     replaceWith: "-"
   - replace: "."
     replaceWith: "-"
   - replace: "ms"
     replaceWith: ""

separatorForMetricLists: ":"


# Default information needs to be updated
controllerInfo:
  controllerHost: "controller"
  controllerPort: 8080
  account: "customer1"
  username: "user1"
  password: "welcome"
  encryptedPassword: ""
  encryptionKey: ""
  controllerSslEnabled: false
  enableOrchestration: false
  uniqueHostId: ""
  accountAccessKey: ""
  machinePath: ""
  simEnabled: true
  applicationName: ""
  tierName: ""
  nodeName: ""
